<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="account-page.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <!-- Side menu bar -->
        <ul>
          <a href="#"><li>Account Details</li></a>
          <a href="profile/:id/add-payment"><li>Add Payment Method</li></a>
          <a href="#"><li>Settings</li></a>
        </ul>
      </div>

      <div class="content">
        <!-- Cash balance -->
        <div class="balance" style="color: tomato">
          {{ balance | currency : "USD" : "symbol" : "1.2-2" }}
          <span class="material-symbols-outlined">
            account_balance_wallet
          </span>
        </div>

        <!-- Transaction options -->
        <div class="transaction-options">
          <a href="profile/:id/transaction">
            <!-- Replace "#" with transaction window link -->
            <span class="material-symbols-outlined"> send_money </span>
            Send Money
          </a>
          <a href="profile/:id/transaction">
            <!-- Replace "#" with transaction window link -->
            <span class="material-symbols-outlined"> account_balance </span>
            Update Balance
          </a>
          <a href="profile/:id/transaction">
            <!-- Replace "#" with transaction window link -->
            <span class="material-symbols-outlined"> payments </span>
            Request Payment
          </a>
        </div>
        <!-- Recent transactions -->
        <div class="transactions">
          <table>
            <tr class="transaction-item">
              <th>Date</th>
              <th>Payee</th>
              <th>Amount</th>
            </tr>
            <tr class="transaction-item">
              <td>06/17/2023</td>
              <td>John Doe</td>
              <td>$100.00</td>
            </tr>
            <tr class="transaction-item">
              <td>06/17/2023</td>
              <td>John Doe</td>
              <td>$100.00</td>
            </tr>
            <tr class="transaction-item">
              <td>06/17/2023</td>
              <td>John Doe</td>
              <td>$100.00</td>
            </tr>
            <tr class="transaction-item">
              <td>06/17/2023</td>
              <td>John Doe</td>
              <td>$100.00</td>
            </tr>
            <tr class="transaction-item">
              <td>06/17/2023</td>
              <td>John Doe</td>
              <td>$100.00</td>
            </tr>
          </table>
        </div>
        <!-- Promo sections -->
        <div class="promo-sections">
          <div class="promo-section">Loan Promo</div>
          <div class="promo-section">Debit Card Promo</div>
        </div>
        <!-- Footer -->
        <div class="footer">© 2023 Your Company Name</div>
      </div>
    </div>
  </body>
</html>
