<head>
  <script
    src="https://kit.fontawesome.com/2c16e34bec.js"
    crossorigin="anonymous"
  ></script>
</head>


<!--The hero section-->

<div
  class="relative overflow-hidden bg-blue-100"
  style="width: full; height: 544px; margin-left: 16px; margin-right: 16px"
>
  <div>
    <img
      class="absolute right-0 top-0"
      style="width: 881px; height: 538px"
      src="https://i.ibb.co/LZXRL2R/mobile-online-transfer-payment-concept-with-laptop-and.jpg"
      alt="mobile-online-transfer-payment-concept-with-laptop-and"
    />
  </div>
  <div class="relative">
    <p
      class="absolute font-bold leading-10"
      style="
        width: 526px;
        height: 200px;
        left: 33px;
        top: 45px;
        font-size: 50px;
        line-height: 1.25;
        color: #4497c2;
      "
    >
      Cash Fairy
    </p>
    <p
      class="absolute font-bold leading-10"
      style="
        width: 526px;
        height: 200px;
        left: 33px;
        top: 120px;
        font-size: 50px;
        line-height: 1.25;
        color: #0b4868;
      "
    >
      Fast. Anywhere. Everywhere.
    </p>

    <p
      class="absolute text-xl font-medium leading-loose"
      style="
        width: 476.21px;
        left: 36px;
        top: 300px;
        font-size: 20px;
        line-height: 1.25;
      "
    >
      Recharge, send money to friends & family, pay bills, book flights, hotels
      and much more.
    </p>
  </div>
</div>

<!--The Guide Section-->
<div class="flex flex-col justify-center; relative">
  <div
    class="relative bg-white rounded-lg; margin-left: 20px"
    style="width: 1440px; height: 476px; margin-left: 16px; margin-right: 16px"
  >
    <p
      class="w-48 absolute text-base font-medium leading-snug"
      style="left: 36px; top: 196px; font-size: 16px; line-height: 1.25"
    >
      Get Started with fast money transfer services and bill payments!
    </p>
    <p
      class="w-24 absolute text-base font-medium leading-normal text-blue-500"
      style="left: 36px; top: 275px"
    >
      Learn More
    </p>
  </div>
  <div>
    <div>
      <img
        class="w-36 h-32 absolute rounded-3xl"
        style="left: 291px; top: 130px"
        src="https://i.ibb.co/0Bk5TbQ/login-blue-icon.jpg"
        alt="login-blue-icon"
      />
      <p
        class="w-32 absolute text-base font-medium leading-normal text-blue-500"
        style="left: 301px; top: 277px"
      >
        Free Sign Up
      </p>
    </div>
    <div>
      <img
        class="w-40 h-36 absolute rounded-3xl"
        style="left: 706px; top: 124px"
        src="https://i.ibb.co/mGpfTct/add-payment-blue-icon.jpg"
        alt="add-payment-blue-icon"
      />
      <p
        class="w-40 absolute text-base font-medium leading-normal text-blue-500"
        style="left: 724px; top: 277px"
      >
        Add Payment
      </p>
    </div>
    <div>
      <img
        class="w-36 h-32 absolute rounded-3xl"
        style="left: 1143px; top: 124px"
        src="https://i.ibb.co/SfbVY94/transfer-blue-icon.jpg"
        alt="transfer-blue"
      />
      <p
        class="w-36 absolute text-base font-medium leading-normal text-blue-500"
        style="left: 1156px; top: 277px"
      >
        Send/Receive <br />
      </p>
    </div>
  </div>
</div>

<!--Loan Promo Section-->
<div
  class="relative bg-blue-100 rounded-lg"
  style="width: full; height: 476px; margin-left: 16px; margin-right: 16px"
>
  <img
    class="w-72 h-80 absolute rounded-xl"
    style="left: 228px; top: 102px"
    src="https://i.ibb.co/7QHdyFp/cell-phone.jpg"
    alt="cell-phone"
  />

  <p
    class="absolute text-4xl font-bold leading-10 text-green-800"
    style="width: 405px; left: 745px; top: 156px"
  >
    Get a Personal Loan in 2 Minutes.
  </p>
  <p
    class="absolute text-base font-medium leading-relaxed"
    style="width: 453px; left: 745px; top: 254px"
  >
    Cash Fairy offers quick multi-purpose, hassle-free loans & salary advance.
  </p>
  <div
    class="inline-flex items-center justify-center w-44 h-14 pb-1 absolute"
    style="left: 740px; top: 319px"
  >
    <div
      class="flex space-x-3.5 items-center justify-end flex-1 h-full px-6 py-4 bg-blue-900 rounded-full"
    >
      <p class="w-24 h-full text-base font-medium leading-none text-white">
        Learn More
        <i class="fa-light fa-arrow-right"></i>
      </p>

      <div
        class="inline-flex flex-col space-y-96 items-end justify-end flex-1 pl-0.5"
      >
        <div class="w-3/4 h-4 bg-white rounded-lg">
          <div class="transform rotate-45 w-3 h-3 bg-white"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Money Transfer Promo-->
<div class="relative bg-white rounded-lg" style="width: 1440px; height: 476px">
  <p
    class="w-96 absolute text-4xl font-bold leading-10 text-green-800"
    style="left: 201px; top: 100px"
  >
    Pay anyone directly from your bank account.
  </p>
  <p
    class="absolute text-base font-medium leading-relaxed"
    style="width: 446px; left: 201px; top: 253px"
  >
    Pay anyone, everywhere. Make contactless & secure payments in-stores or
    online using Paytm Wallet or Directly from your Bank Account. Plus, send &
    receive money from anyone.
  </p>
  <div class="w-56 h-12 absolute" style="left: 199px; top: 379px">
    <div
      class="flex space-x-2.5 items-center justify-end flex-1 h-full py-4 px-6 bg-black border rounded-full border-black"
    >
      <p class="w-32 text-base font-medium leading-none text-white">
        Download the App
      </p>
      <img
        class="w-3.5 h-full rounded-full"
        src="https://i.ibb.co/3dRZ1Kj/apple-download-icon.jpg"
        alt="apple-download-icon"
      />
      />
      <img
        class="w-3.5 h-full rounded-full"
        src="https://i.ibb.co/dDCYqD6/android-download-icon.jpg"
        alt="android-download-icon"
      />
      />
    </div>
  </div>
  <img
    class="w-80 h-80 absolute"
    style="left: 952px; top: 96px"
    src="https://i.ibb.co/tZWSHpS/paid-successfully.jpg"
    alt="paid-successfully"
  />
</div>

<!--Footer-->
<div class="w-1286 h-full">
  <div class="w-1440 h-476 bg-blue-100 rounded-lg p-6">
    <div class="w-1260 h-126 space-y-5 flex items-center justify-start">
      <p class="w-56 h-full text-xl font-semibold">
        Download CashFairy App to Pay from anywhere
      </p>
      <img
        class="w-40 h-14 rounded-lg"
        src="https://via.placeholder.com/160x53"
        alt="Paytm App"
      />
      <div class="relative w-179 h-53">
        <div class="absolute left-0 top-0 bg-black rounded-lg w-178.88 h-53">
          <div
            class="absolute bg-white rounded-lg w-28 h-6 left-54.38 top-22.59"
          ></div>
          <div
            class="absolute bg-white rounded-full w-2 h-2 left-54.79 top-9.10"
          ></div>
          <!-- More absolute positioning elements -->
          <div
            class="absolute bg-pink-900 bg-opacity-50 border rounded-full border-white w-2 h-2 left-54.79 top-9.10"
          ></div>
          <!-- More absolute positioning elements -->
          <div class="absolute left-13.21 top-9.46 w-30.59 h-34.08">
            <div
              class="absolute left-0 top-0 bg-gradient-to-bl from-blue-500 via-blue-500 to-blue-500 rounded-lg w-4 h-8"
            ></div>
            <!-- More absolute positioning elements -->
          </div>
        </div>
        <div
          class="absolute left-0 top-0 bg-gray-400 rounded-lg w-44 h-14"
        ></div>
      </div>
    </div>
    <div class="w-1260 h-1 bg-gray-300"></div>
    <div class="w-1260 h-62 flex items-center justify-end">
      <div
        class="w-947 h-62 flex items-center justify-end space-x-14 bg-white rounded-lg"
      >
        <p class="w-14 text-xs font-medium text-blue-900">About Us</p>
        <!-- More 'p' elements -->
      </div>
      <div class="w-1/4 h-full pl-5 flex space-x-5 items-center justify-end">
        <div class="w-32">
          <div
            class="flex items-center justify-center h-full pl-4 pr-6 pt-3.5 pb-3 border-2 rounded-lg border-blue-300"
          >
            <p class="flex-1 text-base font-semibold">
              Become a Seller &amp; Earn
            </p>
          </div>
        </div>
        <div class="w-32">
          <div
            class="flex items-center justify-start h-full pl-4 pr-11 pt-3.5 pb-3 border-2 rounded-lg border-blue-300"
          >
            <p class="flex-1 text-base font-semibold">CashFairy for Business</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-1260 h-119 relative">
      <div class="absolute right-0 bottom-0 w-289.80 h-90">
        <img
          class="absolute left-0 top-0 w-24 h-6"
          src="https://via.placeholder.com/99x25"
          alt="Logo 1"
        />
        <!-- More images -->
      </div>
      <p class="absolute left-0 top-0 w-32 text-xs font-extrabold">
        Be Safe. Be Vigilant
      </p>
      <div
        class="absolute right-0 top-0 flex flex-col space-y-3 items-start justify-start pr-8 pb-3 w-441 h-131"
      >
        <p class="w-1/5 text-xs font-extrabold">Disclaimers</p>
        <p class="w-80 text-xs leading-tight text-gray-500">
          CashFairy Wallet is issued by Paytm Payments Bank Limited
        </p>
        <p class="text-xs leading-tight text-gray-500" style="width: 410px">
          Cashback is 'CashFairy wallet loyalty cashback' given by 'Pay with CashFairy'
          payment platform. It can be used to pay for goods & services sold by
          merchants that accept ‘Pay with Paytm’
        </p>
      </div>
      <p
        class="absolute left-0 top-27.12 w-441 text-xs leading-tight text-gray-500"
      >
        Please do not share your Paytm Wallet password, Credit/Debit card pin,
        other confidential information with anyone even if he/she claims to be
        from Paytm. We advise our customers to completely ignore such
        communications & report to us at cybercell@paytm.com
      </p>
      <p class="absolute right-0 top-0 w-40 text-xs font-extrabold">
        Bank Grade Security with
      </p>
    </div>
  </div>
</div>
