<!--Menu Bar-->
<div
  class="flex space-x-80 items-center justify-end pl-36 pr-96 pb-1 bg-white"
  style="width: 1440px; height: 61px"
>
  <a routerLink="home">
    <img
      class="w-16 h-full"
      src="https://i.ibb.co/gwvFVXn/finance-logo.jpg"
      alt="finance-logo"
    />
  </a>
  <a routerLink="registration">
    <p class="w-20 h-8 text-sm font-medium tracking-wider leading-loose">
      Register
    </p>
  </a>
  <a routerLink="login">
    <p class="w-16 h-8 text-sm font-medium tracking-wider leading-loose">
      Sign-in
    </p>
  </a>
</div>
